*,
*::before,
*::after {
  box-sizing: border-box;
}
$backgColorOne: #f9f7f4;
$backgColorTwo: #f4f0e9;
body {
  margin: 0;
  padding: 0;
  user-select: none;
}
main {
  padding: 0 21px;
  background-color: $backgColorOne;
}
footer {
  background: $backgColorTwo;
  padding: 0 21px;
  @media (min-width: 1023px) {
    padding: 0 53px;
  }
  @media (min-width: 1800px) {
    padding: 0 376px;
  }
}
textarea {
  resize: none;
}
p {
  margin: 0;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1b1f2b;

  margin: 0;

  @media (min-width: 1023px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #1b1f2b;
  }
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1b1f2b;
  padding-top: 75px;

  margin: 0;
  @media (min-width: 1023px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    color: #1b1f2b;
    padding-top: 135px;
  }
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #1b1f2b;
  margin: 0;
  @media (min-width: 1023px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 122%;
    color: #1b1f2b;
  }
}
.P-big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 142%;
  color: #1b1f2b;
  @media (min-width: 1023px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    color: #1b1f2b;
  }
}
.P-normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  color: #1b1f2b;
  @media (min-width: 1023px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    color: #1b1f2b;
  }
}
.P-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1b1f2b;
  @media (min-width: 1023px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1b1f2b;
  }
}
//Header======================================================================================
.FirstPageContainer {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 39.9%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/Footer/footerphoto.png);
  height: 488px;
  background-size: cover;
  background-position: 25%;
  @media (min-width: 1023px) {
    height: 831px;
    background-size: 100%;
    background-position: right 75%;
  }
  @media (min-width: 1800px) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 39.9%
      ),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(/src/Header/header-img.png);
    background-position: center;
    background-size: cover;
    height: 831px;
  }
}
.Header_Container {
  display: flex;
  font-display: row;
  justify-content: space-between;
  align-items: center;
  &_Scroll {
    display: none;
    &_ON {
      & > .Header_Scroll {
        margin-top: 0px;
      }
      & > .Navigation {
        margin-top: 0px;
        color: inherit;
      }
      & > .PhoneNumber {
        margin-top: 0px;
        color: inherit;
      }
      height: 88px;
      background: rgba(243, 239, 232, 0.6);
      backdrop-filter: blur(27px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: fixed;
      z-index: 2;
      color: #1b1f2b;
    }
  }
}
.Header {
  margin: 33px 0 0 21px;
  width: 133px;
  height: 22px;
  background: url(/src/Header/YourTour360.svg);
  background-size: cover;
  @media (min-width: 1023px) {
    margin: 29px 0 0 57px;
    width: 182px;
    height: 31px;
    background: url(/src/Header/YourTour1024.svg);
  }
  @media (min-width: 1800px) {
    margin: 29px 0 0 376px;
    width: 182px;
    height: 31px;
    background: url(/src/Header/YourTour1024.svg);
  }
  &_Scroll {
    margin: 5px 0 0 21px;
    width: 133px;
    height: 22px;
    background: url(/src/Header/YourTour360Scroll.svg);
    background-size: cover;
    @media (min-width: 1023px) {
      margin: 1px 0 0 57px;
      width: 182px;
      height: 31px;
      background: url(/src/Header/YourTour1024Scroll.svg);
    }
    @media (min-width: 1800px) {
      margin: 1px 0 0 376px;
      width: 182px;
      height: 31px;
      background: url(/src/Header/YourTour1024Scroll.svg);
    }
  }
}
.header_a {
  margin: 0;
  padding: 0;
}
.Navigation {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 30px;
  color: white;
  @media (max-width: 1023px) {
    display: none;
  }
  @media (min-width: 1800px) {
    gap: 50px;
  }
}
.NavigationA {
  color: white;
  text-decoration: none;
  :active {
    text-decoration: none;
  }
  :checked {
    text-decoration: none;
  }
}
.NavigationA_Scroll {
  color: #1b1f2b;
  text-decoration: none;
  :active {
    text-decoration: none;
  }
  :checked {
    text-decoration: none;
  }
}
.NavigationTours {
  :hover {
    border-bottom: solid white 1px;
    cursor: pointer;
  }
  &S {
    border-bottom: solid rgba(0, 0, 0, 0) 1px;
    &:hover {
      border-bottom: solid #1b1f2b 1px;
    }
  }
}

.NavigationCollect {
  :hover {
    border-bottom: solid white 1px;
    cursor: pointer;
  }
  &S:hover {
    border-bottom: solid #1b1f2b 1px;
  }
}
.NavigationReviews {
  :hover {
    border-bottom: solid white 1px;
  }
  &S:hover {
    border-bottom: solid #1b1f2b 1px;
  }
}
.NavigationStory {
  :hover {
    border-bottom: solid white 1px;
  }
  &S:hover {
    border-bottom: solid #1b1f2b 1px;
  }
}
.PhoneNumber {
  margin: 32.5px 21px 0 0;
  color: white;
  @media (min-width: 1023px) {
    margin: 30px 57px 0 0;
  }
  @media (min-width: 1800px) {
    margin: 30px 376px 0 0;
  }
}
.TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.WelcomeText {
  color: white;
  margin: 84.5px 0 0 0;
  @media (min-width: 1023px) {
    margin-top: 148px;
  }
  @media (min-width: 1800px) {
    width: 768px;
  }
}
.WelcomeTextTwo {
  color: white;
  margin: 40px 25px 0 25px;
  text-align: center;
  @media (min-width: 1023px) {
    width: 442px;
    margin: 50px 25px 0 25px;
  }
  @media (min-width: 1800px) {
    width: 562px;
  }
}
.SearchTourButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
  width: 114px;
  height: 33px;
  user-select: none;
  transition: 0.2s linear;
  @media (min-width: 1023px) {
    width: 118px;
    height: 34px;
    margin-top: 50px;
  }
  @media (min-width: 1800px) {
    &:hover {
      background-color: #efa501;
      color: white;
      cursor: pointer;
    }
    &:active {
      background-color: #f8e6be;
      color: black;
    }
  }
}
//ChooseTour======================================================================================
.ChooseTour {
  background-color: $backgColorOne;
}
.ChooseTourHeader {
  text-align: center;
}
.TourType {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  @media (min-width: 1023px) {
    margin-top: 35px;
  }
  @media (min-width: 1800px) {
    height: 39px;
  }
}
.P_hover_TypeTour_One {
  height: 25px;
  user-select: none;
  border-bottom: #efa501 solid 2px;
  color: #efa501;
  cursor: pointer;
  @media (min-width: 1023px) {
    height: 28px;
  }
  @media (min-width: 1800px) {
    height: 34px;
  }
}
.P_hover_TypeTour_Two {
  height: 25px;
  user-select: none;
  @media (min-width: 1023px) {
    height: 28px;
  }
  @media (min-width: 1800px) {
    height: 34px;
    :hover {
      cursor: pointer;
      border-bottom: #1b1f2b solid 2px;
    }
  }
}

.TourTypeFirstRowWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: 1023px) {
    flex-direction: row;
    gap: 30px;
  }
}
.TourTypeFirstRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 23px;
  @media (min-width: 1023px) {
    gap: 30px;
  }
}
.CardsTours360-1024 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding: 50px 0 0 0;
  display: block;
  color: white;
  @media (min-width: 1023px) {
    padding: 100px 0 0 0;
  }
  @media (min-width: 1800px) {
    display: none;
  }
}
.CardsTours1920 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding: 100px 0 0 0;
  color: white;
  @media (max-width: 1800px) {
    display: none;
  }
}
.OneRow_TwoCards {
  margin: 0px;
  padding: 0px;
  @media (min-width: 1023px) {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
  }
  &1920 {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.CardTour {
  width: 318px;
  height: 318px;
  border-radius: 20px;
  padding: 25px 25px 0px 25px;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1023px) {
    border-radius: 50px;
    width: 450px;
    height: 531px;
    padding: 50px 0px 0px 50px;
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 1800px) {
    width: 370px;
    height: 531px;
    padding: 50px 0px 0px 30px;
    position: relative;
    overflow: hidden;
    &:hover .BackgroundContainer {
      transition: all 0.3s ease;
      transform: scale(1.2);
    }
    &:hover .CardNameTextContainer > .More {
      transition: 0.4s linear;
      background: #286562;
      cursor: pointer;
      &:active {
        background-color: #efa501;
      }
    }
  }
}
.BackgroundContainer {
  transition: all 0.3s ease;
}
.BackgroundContainer1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-1.png);
}
.BackgroundContainer2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-2.png);
}
.BackgroundContainer3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-3.png);
}
.BackgroundContainer4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-4.png);
}
.BackgroundContainer5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-5.png);
}
.BackgroundContainer6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-6.png);
}
.CardNameTextContainer {
  position: absolute;
  @media (min-width: 1023px) {
  }
}
.CardName {
  color: white;
  margin: 0;
  @media (min-width: 1800px) {
    margin-left: 20px;
  }
}
.CardPrice {
  margin-top: 13px;
  text-align: left;
  color: white;
  @media (min-width: 1800px) {
    margin-left: 20px;
  }
}
.More {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  margin: 179.5px 0px 0px 0px;
  @media (min-width: 1023px) {
    margin: 320px 0px 0px 0px;
  }
  @media (min-width: 1800px) {
    margin: 277px 0px 0px 0px;
    width: 199px;
    height: 42px;
    border-radius: 50px;
  }
}
.MoreWrapper {
  @media (min-width: 1800px) {
    margin: 277px 0px 0px 0px;
    width: 199px;
    height: 42px;
    border-radius: 50px;
  }
}
.MoreText {
  color: white;
  @media (min-width: 1800px) {
    padding-left: 20px;
  }
}
.MoreVector {
  height: 15px;
  width: 22px;
  background-image: url(/src/Vectors/Vector.svg);
}
.CardTour_1 {
  overflow: hidden;
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-1.png);
  background-size: cover;
  background-position: center;
}
.CardTour_2 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-2.png);
  background-size: cover;
  background-position: center bottom;
}
.CardTour_3 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-3.png);
  background-size: cover;
  background-position: center;
}
.CardTour_4 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-4.png);
  background-size: cover;
  background-position: center;
}
.CardTour_5 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-5.png);
  background-size: cover;
  background-position: center;
  @media (min-width: 1023px) {
    margin: 0;
  }
}
.CardTour_6 {
  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/src/Cards/card_photo-6.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}
//CollectTour======================================================================================
.CollectTourHeaderMain {
  margin: 0;
  text-align: center;
}
.CollectTourHeaderText360 {
  margin: 20px 0 40px 0;
  color: #a6a6a6;
  text-align: center;
  @media (min-width: 1023px) {
    display: none;
  }
}
.CollectTourHeaderText1024 {
  margin: 30px 0px 100px 0px;
  color: #a6a6a6;
  text-align: center;
  @media (max-width: 1023px) {
    display: none;
  }
}
.CollectTourForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px;

  border-radius: 30px;
  @media (min-width: 1023px) {
    padding: 60px 60px 60px;
    margin: 0px 32px;
  }
  @media (min-width: 1800px) {
    padding: 70px 70px 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 986px;
  }
}
.CollectTourFormContainerRadio {
  align-items: flex-start;
  @media (min-width: 1023px) {
    width: 798px;
    height: 64px;
  }
}
.CollectTourFormContainerRow {
  @media (min-width: 1023px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.CollectTourFormContainerOne {
  @media (max-width: 1023px) {
    &::after {
      position: absolute;
      z-index: 1;
      content: "";
      display: block;
      background: url(./src/Vectors/Vector-arrow.svg);
      height: 11px;
      width: 18px;
      margin-top: 50px;
      margin-left: 240px;
    }
  }
}
.CollectTourFormContainerRowOne {
  @media (min-width: 1023px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &::after {
      position: absolute;
      content: "";
      display: block;
      background: url(./src/Vectors/Vector-arrow.svg);
      height: 11px;
      width: 18px;
      margin-top: 70px;
      margin-left: 760px;
    }
  }
  @media (min-width: 1800px) {
    &::after {
      position: absolute;
      content: "";
      display: block;
      background: url(./src/Vectors/Vector-arrow.svg);
      height: 11px;
      width: 18px;
      margin-top: 70px;
      margin-left: 980px;
      pointer-events: none;
    }
  }
}
.CollectTourFormName {
  caret-color: red;
  margin-bottom: 8px;
}
input {
  transition: 0.2s linear;
  border: 1px solid $backgColorTwo;
  border-radius: 10px;
  background: #f9f7f4 !important;
  outline: none;
  height: 43px;
  width: 278px;
  color: #1b1f2b;
  font-size: 16px;
  font-family: Tahoma;

  padding-left: 10px;
  margin-bottom: 30px;

  &:focus {
    border: 1px #a6a6a6 solid;
    background-color: #f4f0e9 !important;
  }
  & ::placeholder {
    color: #cccccc;
  }
  @media (min-width: 1023px) {
    width: 389px;
    height: 68px;
  }
  @media (min-width: 1800px) {
    width: 500px;
    height: 68px;
    &:hover {
      cursor: pointer;
      background-color: #f4f0e9 !important;
    }
  }
}
.CollectTourFormContainerSel {
  position: relative;
}
.CollectTourFormSelect {
  transition: 0.2s linear;
  border: 1px solid $backgColorTwo;
  border-radius: 10px;
  background: #f9f7f4 !important;
  outline: none;
  height: 43px;
  width: 278px;
  color: grey;
  font-size: 16px;
  font-family: Tahoma;
  padding-left: 10px;
  margin-bottom: 30px;
  position: relative;
  appearance: none;
  display: block;
  &:focus {
    border: #a6a6a6 1px solid;
    background-color: #f4f0e9 !important;
  }
  @media (min-width: 1023px) {
    width: 389px;
    height: 68px;
  }
  @media (min-width: 1800px) {
    width: 500px;
    height: 68px;
    &:hover {
      cursor: pointer;
      background-color: #f4f0e9 !important;
    }
  }
}
.CollectTourFormContainerSel {
  display: inline-block;
}

.CollectTourFormInputComment {
  transition: 0.2s linear;
  border: 1px solid $backgColorTwo;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  outline: none;
  background: $backgColorOne;
  height: 132px;
  width: 278px;
  color: #1b1f2b;
  padding-left: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  &:focus {
    border: 1px solid #a6a6a6;
    background-color: #f4f0e9 !important;
  }
  @media (min-width: 1023px) {
    width: 798px;
    height: 152px;
  }
  @media (min-width: 1800px) {
    width: 1030px;
    height: 152px;
    &:hover {
      cursor: pointer;
      background-color: #f4f0e9 !important;
    }
  }
}
.CollectTourFormAcceptALLButtons {
  @media (max-width: 1023px) {
    width: 248px;
  }
  @media (min-width: 1800px) {
    width: 1030px;
  }
}
.CollectTourFormInputRadioButton {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 30px;
  @media (max-width: 1023px) {
    display: none;
  }
  &M {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 30px;
    @media (min-width: 1023px) {
      display: none;
    }
  }
}
.radiobutton {
  height: 26px;
  width: 26px;
  background: url(./src/RadioButton-CheckBox/RadioSVG1.svg);
  &:hover {
    cursor: pointer;
  }
  &M {
    height: 20px;
    width: 20px;
    background: url(./src/RadioButton-CheckBox/RadioSVG1M.svg);
  }
}
.radioBTN {
  &:checked + label {
    background: url(./src/RadioButton-CheckBox/RadioSVG2.svg);
  }
  display: none;
  &M {
    &:checked + label {
      background: url(./src/RadioButton-CheckBox/RadioSVG2M.svg);
    }
    display: none;
  }
}
.radioBtnContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}
.checkboxcomp {
  &:hover {
    cursor: pointer;
  }
  display: inline-block;
  height: 26px;
  width: 26px;
  background: url(./src/RadioButton-CheckBox/CheckboxSVG1.svg);
  &M {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(/src/RadioButton-CheckBox/CheckboxSVG1M.svg);
  }
}
.AcceptLicenzeInput {
  @media (max-width: 1023px) {
    display: none;
  }
  &M {
    @media (min-width: 1023px) {
      display: none;
    }
  }
}
.AcceptLicenzCheckbox {
  &:checked + label {
    background: url(./src/RadioButton-CheckBox/CheckboxSVG2.svg);
  }
  display: none;
  &M {
    display: none;
    &:checked + label {
      background: url(./src/RadioButton-CheckBox/CheckboxSVG2M.svg);
    }
  }
}
.AcceptLicenz {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 30px;
  gap: 10px;
  color: #a6a6a6;
}
.A_Licenz {
  color: #1b1f2b !important;
  text-decoration: none;
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      color: #286562 !important;
    }
  }
}
.AcceptButtons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0px;

  width: 100%;
  @media (min-width: 1023px) {
    gap: 30px;
  }
}
.AcceptButtonsWrapper {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  @media (min-width: 1023px) {
    margin-right: 298px;
  }
  @media (min-width: 1800px) {
    margin-right: 530px;
  }
}
.AcceptButtonYES {
  width: 134px;
  height: 47px;
  text-align: center;

  background: #286562;
  border-radius: 10px;
  color: #ffffff;
  transition: 0.2s linear;

  @media (min-width: 1023px) {
    width: 235px;
    height: 58px;
  }
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      background-color: #3b7e7b;
    }
    &:active {
      background-color: #627f7e;
    }
  }
}
.AcceptButtonNO {
  width: 134px;
  height: 47px;
  text-align: center;
  padding-top: 12px;

  background: #e0f0e5;
  border-radius: 10px;
  transition: 0.2s linear;
  @media (min-width: 1023px) {
    width: 235px;
    height: 58px;
  }
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      background-color: #f1f3f2;
    }
    &:active {
      background-color: #d9dfdb;
    }
  }
}
//Revievs======================================================================================
.ReviewsContainer {
  background-color: $backgColorOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  &Header {
    text-align: center;
    @media (min-width: 1800px) {
      width: 529px;
    }
  }
}
.ReviewsContainerText {
  &360 {
    margin: 20px 0 50px 0;
    text-align: center;

    color: #a6a6a6;
    @media (min-width: 1023px) {
      display: none;
    }
  }
  &1024 {
    margin: 30px 0 100px 0;
    color: #a6a6a6;
    text-align: center;
    @media (max-width: 1023px) {
      display: none;
    }
  }
}
.ReviewContainerCardsReviewWrapper {
  @media (min-width: 1023px) {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }
}
.ReviewsContainerCardsReviewOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $backgColorTwo;
  border-radius: 20px;
  margin-bottom: 18px;
  width: 318px;
  @media (min-width: 1023px) {
    width: 450px;
    height: 841px;
    border-radius: 50px;
  }
  @media (min-width: 1800px) {
    width: 570px;
    height: 673px;
    border-radius: 50px;
  }
}
.CardsWrapper {
  padding: 20px;
  @media (min-width: 1023px) {
    padding: 40px;
  }
}
.AutorTour {
  color: #a6a6a6;
}
.AutorLogoOne {
  height: 75px;
  width: 75px;
  background-image: url(/src/ReviewsPhotos/reviewphoto-1.png);
  border-radius: 100px;
  background-size: cover;
}
.ReviewsContainerCardsReviewAutor {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 0px 0px;
  @media (min-width: 1023px) {
    padding: 378px 0 0;
  }
  @media (min-width: 1800px) {
    padding: 266px 0 0;
  }
  &Two {
    @media (min-width: 1023px) {
      padding: 70px 0 0;
    }
  }
}
.ReviewsContainerCardsReviewText360 {
  @media (min-width: 1023px) {
    display: none;
  }
}
.ReviewsContainerCardsReviewText1024 {
  @media (max-width: 1023px) {
    display: none;
  }
  @media (min-width: 1800px) {
    display: none;
  }
}
.ReviewsContainerCardsReviewText1920 {
  @media (max-width: 1800px) {
    display: none;
  }
}
.Autor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}
.ReviewsContainerCardsReviewTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: $backgColorTwo;
  border-radius: 20px;
  width: 318px;
  @media (min-width: 1023px) {
    width: 450px;
    height: 841px;
    border-radius: 50px;
  }
  @media (min-width: 1800px) {
    width: 570px;
    height: 673px;
    border-radius: 50px;
  }
}
.AutorLogoTwo {
  height: 75px;
  width: 75px;
  background-image: url(/src/ReviewsPhotos/reviewphoto-2.png);
  border-radius: 100px;
  background-size: cover;
}
//TravelPHOTO======================================================================================
.TravelPhoto {
  background-color: $backgColorOne;
  &Header {
    text-align: center;
    &Text {
      margin-top: 20px;
      text-align: center;
      color: #a6a6a6;
    }
  }
}
.TravelPhotoHeaderText {
  @media (min-width: 1023px) {
    margin-top: 30px;
  }
}
.TravelPhotosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding-top: 50px;
  @media (min-width: 1023px) {
    padding-top: 100px;
  }
}
.TravelPhotosContainerRowOne {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
}
.RowOne {
  width: 150px;
  height: 110px;
  border-radius: 20px;
  background-size: cover !important;
  background-position: center center !important;
  @media (min-width: 1023px) {
    width: 314.67px;
    height: 300px;
    border-radius: 50px;
    background-size: cover !important;
    background-position: center center !important;
  }
  @media (min-width: 1800px) {
    width: 442.5px;
    height: 300px;
  }
}
.TravelPhotosContainerRowTwo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  @media (min-width: 1023px) {
    gap: 20px;
  }
}
.TwoRowPhotoALL {
  width: 99.33px;
  height: 110px;
  border-radius: 20px;
  background-size: cover !important;
  background-position: center center !important;
  @media (min-width: 1023px) {
    width: 231px;
    height: 301px;
    border-radius: 50px;
    background-size: cover !important;
    background-position: center center !important;
  }
  @media (min-width: 1800px) {
    width: 349.16px;
    height: 301px;
    background-size: cover !important;
    background-position: center center !important;
  }
}
.OneRowOnePhoto {
  background: url(/src/PhotoCards/travelphoto-1.png);
  background-size: cover;
}
.OneRowTwoPhoto {
  background: url(/src/PhotoCards/travelphoto-4.png);
  background-size: cover;
}
.OneRowThreePhoto {
  background: url(./src/PhotoCards/travelphoto-2.png);
  background-size: cover;
  display: none;
  @media (min-width: 1800px) {
    display: block;
  }
}
.OneRowFourPhoto {
  background: url(./src/PhotoCards/travelphoto-3.jpg);
  background-size: cover;
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}
.TwoRowOnePhoto {
  background: url(/src/PhotoCards/travelphoto-5.png);
  background-size: cover;
}
.TwoRowTwoPhoto {
  background: url(/src/PhotoCards/travelphoto-8.png);
  background-size: cover;
}
.TwoRowThreePhoto {
  background: url(/src/PhotoCards//travelphoto-13.png);
  background-size: cover;
  background-position: 30% center !important;
}
.TwoRowFourPhoto {
  background: url(./src/PhotoCards/travelphoto-6.png);
  background-size: cover;
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}
.TwoRowFivePhoto {
  background: url(./src/PhotoCards/travelphoto-7.png);
  background-size: cover;
  display: none;
  @media (min-width: 1800px) {
    display: block;
  }
}
.ThreeRowOnePhoto {
  background: url(/src/PhotoCards/travelphoto-9.png);
  background-size: cover;
}
.ThreeRowTwoPhoto {
  background: url(/src/PhotoCards/travelphoto-10.png);
  background-size: cover;
}
.ThreeRowThreePhoto {
  background: url(./src/PhotoCards/travelphoto-11.png);
  background-size: cover;
  display: none;
  @media (min-width: 1023px) {
    display: block;
  }
}
.ThreeRowFourPhoto {
  background: url(./src/PhotoCards/travelphoto-12.png);
  background-size: cover;
  display: none;
  @media (min-width: 1800px) {
    display: block;
  }
}
//TravelSTORY======================================================================================
.TravelStory {
  background-color: $backgColorOne;
}
.TravelStoryHeader {
  text-align: center;
}
.TravelStoryHeaderText {
  margin-top: 20px;
  text-align: center;
  color: #a6a6a6;
  @media (min-width: 1023px) {
    margin-top: 30px;
  }
  @media (min-width: 1800px) {
    width: 418px;
    display: block;
    margin: auto;
    margin-top: 30px;
  }
}
.StoryCardNameTextContainer {
  position: absolute;
  margin: 30px 25px 0px 30px;
  @media (min-width: 1023px) {
    width: 918px;
    height: 567px;
    margin: 0px 60px 0px 60px;
  }
  @media (min-width: 1800px) {
    width: 1110px;
    height: 507px;
    margin: 0px 60px 0px 60px;
  }
}
.FirstStoryMore {
  color: white;
}
.CardStory {
  width: 318px;
  height: 455px;
  border-radius: 20px;
  position: relative;
  @media (min-width: 1023px) {
    width: 918px;
    height: 567px;
    border-radius: 50px;
  }
  @media (min-width: 1800px) {
    width: 1170px;
    height: 567px;
    position: relative;
    overflow: hidden;
    &:hover .BackgroundContainerStory {
      transition: all 0.3s ease;
      transform: scale(1.2);
    }
    &:hover
      .StoryCardNameTextContainer
      > .StoryMoreFirst
      > .StoryMoreTextWR1Wrap {
      cursor: pointer;
      transition: 0.5s linear;
      background: #286562;
      cursor: pointer;
      :active {
        background: #efa501;
      }
    }
  }
}
.CardStory_2 {
  @media (min-width: 1800px) {
    &:hover > .StoryCardNameTextContainer > .StoryMore > .StoryMoreTextWR1Wrap {
      transition: 0.5s linear;
      background: #286562;
      cursor: pointer;
      :active {
        background: #efa501;
      }
    }
  }
}
.CardStory_3 {
  @media (min-width: 1800px) {
    &:hover > .StoryCardNameTextContainer > .StoryMore > .StoryMoreTextWR1Wrap {
      transition: 0.5s linear;
      background: #286562;
      cursor: pointer;
      :active {
        background: #efa501;
      }
    }
  }
}
.BackgroundContainerStory {
  transition: all 0.3s ease;
}
.BackgroundContainerStory1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-1.png);
  background-size: cover;
  @media (max-width: 1800px) {
    background: none;
  }
}
.BackgroundContainerStory2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-2.png);
  background-size: cover;
  @media (max-width: 1800px) {
    background: none;
  }
}
.BackgroundContainerStory3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-3.png);
  background-size: cover;
  @media (max-width: 1800px) {
    background: none;
  }
}
.StoryName {
  color: white;
}
.StoryText {
  color: white;
  @media (max-width: 1023px) {
    margin-top: 37px;
  }
  &360 {
    color: white;
    @media (min-width: 1023px) {
      display: none;
    }
    &-1 {
      margin-top: 20px;
      color: white;
      width: 263px;
      @media (min-width: 1023px) {
        display: none;
      }
    }
  }
  &1024 {
    margin-top: 60px;
    color: white;
    @media (max-width: 1023px) {
      display: none;
    }
    @media (min-width: 1800px) {
      margin-top: 60px;
    }
    &One {
      margin-top: 60px;
      color: white;
    }
  }
}

.StoryTours {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 50px 0 0 0;
  gap: 18px;
  color: white;
  @media (min-width: 1023px) {
    margin: 100px 0 0 0;
    gap: 50px;
  }
}
.StoryMore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 15px;
  margin-top: 156.5px;
  @media (min-width: 1023px) {
    margin: 200px 0 0 0;
    gap: 16px;
  }
  @media (min-width: 1800px) {
    margin: 200px 0 0 0;
    gap: 16px;
  }
  &First {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 15px;
    margin-top: 64px;
    @media (min-width: 1023px) {
      margin: 90px 0 0 0;
      gap: 16px;
    }
    @media (min-width: 1800px) {
      margin: 90px 0 0 0;
      gap: 16px;
    }
  }
}
.StoryMoreTextWR1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  @media (min-width: 1800px) {
    padding-left: 20px;
    width: 199px;
    height: 42px;
  }
}
.StoryMoreTextWR1Wrap {
  @media (min-width: 1800px) {
    width: 199px;
    height: 42px;
    border-radius: 50px;
    align-items: center;
    overflow: hidden;
  }
}

.StoryMoreTextWR2 {
  @media (max-width: 1023px) {
    display: none;
  }
  @media (min-width: 1023px) {
    margin-right: 120px;
  }
  @media (min-width: 1800px) {
    margin-right: 60px;
  }
}
.StoryMoreSSeti {
  @media (max-width: 1023px) {
    display: none;
  }
}
.StoryMoreSSetiSpanINST {
  color: white;
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      color: #efa501;
    }
  }
}
.StoryMoreSSetiSpanFac {
  margin-left: 35px;
  color: white;
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      color: #efa501;
    }
  }
}
.StoryMoreSSetiSpanVK {
  margin-left: 35px;
  color: white;
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      color: #efa501;
    }
  }
}

.StoryMoreText {
  color: white;
}
.StoryMoreVector {
  height: 15px;
  width: 22px;
  background-image: url(/src/Vectors/Vector.svg);
}
ul {
  margin-top: 27px;
}

.CardStory_1 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-1.png);
  background-size: cover;
  background-position: center;
  @media (min-width: 1800px) {
    background: none;
  }
}
.CardStory_2 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-2.png);
  background-size: cover;
  background-position: center center;
  @media (min-width: 1800px) {
    background: none;
  }
}
.CardStory_3 {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/src/StoryPhoto/storyphoto-3.png);
  background-size: cover;
  background-position: center;
  @media (min-width: 1800px) {
    background: none;
  }
}
//Ending======================================================================================
.Ending {
  background-color: $backgColorOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 21px 0;
  @media (min-width: 1023px) {
    padding: 135px 21px 135px 0;
  }
}
.EndWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1023px) {
    flex-direction: row;
    width: 771px;
    gap: 30px;
  }
}
.EndingWrapperTwo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.EndingPhoto {
  height: 130px;
  width: 133px;
  border-radius: 20px;
  margin-bottom: 30px;
  background: url(/src/Footer/footerphoto.png);
  background-size: cover;
  background-position: center;
  @media (min-width: 1023px) {
    height: 370px;
    width: 370px;
    border-radius: 50px;
    margin: 0;
    background: url(/src/Footer/footerphoto.png);
    background-size: cover;
  }
}
.EndingHeader {
  text-align: center;
  @media (min-width: 1023px) {
    display: none;
  }
}
.EndingHeader1024 {
  @media (max-width: 1023px) {
    display: none;
  }
}
.EndingHeaderText {
  margin-top: 20px;
  text-align: center;
  color: #a6a6a6;
  padding-bottom: 75px;
  @media (min-width: 1023px) {
    display: none;
  }
  &1024 {
    color: #a6a6a6;
    text-align: start;
    @media (max-width: 1023px) {
      display: none;
    }
  }
}
.FooterInfo {
  justify-content: center;
  align-items: center;
  padding: 21px 0px 21px 0;
  gap: 7px;
  margin: 0;
  height: 95px;
  @media (min-width: 1023px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 88px;
  }
}
.FooterText {
  text-align: center;
  color: #a6a6a6;
}
.SocialnSeti {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px 0 0 0;
  gap: 15px;
  @media (min-width: 1023px) {
    padding: 0;
    gap: 30px;
  }
}
.SocialSeti {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  @media (min-width: 1023px) {
    gap: 10px;
  }
}

.SetName {
  color: #1b1f2b;
  @media (min-width: 1800px) {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      color: #efa501;
    }
  }
}
.Set1Logo {
  background: url(/src/Footer/Vector1.svg);
  height: 14px;
  width: 14px;
}
.Set3Logo {
  background: url(/src/Footer/Logo.svg);
  height: 12px;
  width: 20px;
}
.Set2Logo {
  background: url(/src/Footer/Vector2.svg);
  height: 17px;
  width: 8px;
}
